<%-include("partials/header");%>
<%-include("partials/navbar");%>

<header class="quizzesNav">

    <nav>
        <%  if(quizNameanddesc.length<8) { %>
        <%    for(let i=0;i < quizNameanddesc.length;i++) { %>
                <a href="/quizzes/<%=quizNameanddesc[i].name%>"><%=quizNameanddesc[i].name%></a>

          <%  } } else { %>

            <%  for(let i=0;i<8;i++) { %>
                <a href="/quizzes/<%=quizNameanddesc[i].name%>"><%=quizNameanddesc[i].name%></a>

          <% }} %>

        
    </nav>

</header>

<header class="quizzesNavMobile">

    <nav class="mobile">

        <div style="display:flex; justify-content: space-around; align-items: center;">
            <a style="background:var(--bg-secondary); width:50%; color:white; text-align:center; padding:10px;" href="/quizzes">Quizzes</a>
            <a style="background:var(--bg-secondary); width:50%; color:white; text-align:center; padding:10px;" href="/about">About</a>
        </div>
        <p>Top quizzes</p>
        <%  if(quizNameanddesc.length<8) { %>
        <%    for(let i=0;i < quizNameanddesc.length;i++) { %>
                <a class="mobileLink" href="/quizzes/<%=quizNameanddesc[i].name%>"><%=quizNameanddesc[i].name%></a>

          <%  } } else { %>

            <%  for(let i=0;i < 8;i++) { %>
                <a class="mobileLink" href="/quizzes/<%=quizNameanddesc[i].name%>"><%=quizNameanddesc[i].name%></a>

          <% }} %>

        
    </nav>

</header>

<section class="quiz_">

    
    <div class="quizzes_container" style="position: relative;">

        <% if(query!="404" && query!=''){ %>

            <h1 style="position: absolute; top:0;
            left:0;" >Search term : <%=term%></h1>

            <% if(query.length!=0){ %>
            <%   for(let i=0;i<query.length;i++){ %>

                <div class="quiz_item" style="--quizItemColor:rgba(0,100,200,.1)">
                    <h2><%=query[i].name%></h2>
                    <p><%=query[i].desc%></p>
                    <a href="/quizzes/<%=query[i].name%>" class="btn" style="position:relative; overflow:hidden;">Start</a>
                </div>
                <% } %>
            <% } else {%>

            <div class="quiz_item" style="--quizItemColor:rgba(0,100,200,.1)">
                <h2><%=query[0].name%></h2>
                <p><%=query[0].desc%></p>
                <a href="/quizzes/<%=query[0].name%>" class="btn" style="position:relative; overflow:hidden;">Start</a>
            </div>
        <% } %>
        <% }  else {%>

         <%   if(query==="404"){ %>
                
            <h1 style="position: absolute; top:0;
            left:0;" >Search term : <%=term%></h1>
            <p>Not Found</p>
            <%} else { %>

            
        <%  for(let i=0;i<quizNameanddesc.length;i++) { %>
            <p><%=query%></p>
            <div class="quiz_item" style="--quizItemColor:rgba(0,100,200,.1)">
                <h2><%=quizNameanddesc[i].name%></h2>
                <p><%=quizNameanddesc[i].desc%></p>
                <a href="/quizzes/<%=quizNameanddesc[i].name%>" class="btn" style="position:relative;overflow:hidden;">Start</a>
            </div>

        <% } }%>
    <% } %>

    </div>

    <div class="quiz_feature">

        <%-include("partials/searchQuiz");%>

        <div class="recentQuizzes">
            <h4>Recent Quizzes</h4>
            <%  for(let i=quizNameanddesc.length-1;i>=0;i--) { %>
                <a href="/quizzes/<%=quizNameanddesc[i].name%>"><%=quizNameanddesc[i].name%></a>
            <% } %>
   </div>

    </div>

</section>


<%-include("partials/footer");%>
